<p-menubar class="nav-background" [model]="items">
    <ng-template pTemplate="start">
        <!-- <img src="../../../../assets/bg1.png" height="40" class="mr-2"> -->
    </ng-template>
    <ng-template pTemplate="end" >
        <!-- <button pButton type="button" label="My Feed" class="p-button-text p-button-plain"></button>
        <button pButton type="button" label="My Posts" class="p-button-text p-button-plain"></button> -->
        <p-button pRipple styleClass="p-button-text" badgeClass="p-badge-danger" (click)="op.toggle($event)">
            <i *ngIf="notifications_num!=''" class="pi pi-bell mr-4 p-text-secondary" pBadge style="font-size: 1.8rem" [value]="notifications_num" severity="danger"></i>
            <i *ngIf="notifications_num==''" class="pi pi-bell mr-4 p-text-secondary" style="font-size: 1.8rem" severity="danger"></i>        
        </p-button>
        <span class="p-buttonset mx-2">
            <button pButton pRipple icon="pi pi-user" class="p-button-raised p-button-rounded" [routerLink]="['./user']"></button>
            <!-- <button pButton pRipple type="button" label="Messages" badge="8" icon="pi pi-bell" badgeClass="p-badge-danger" class="p-button-raised p-button-warning"></button> -->
            <button pButton pRipple icon="pi pi-power-off" class="p-button-raised p-button-rounded p-button-danger" (click)="logout()"></button>
        </span>
    </ng-template>
</p-menubar>

<p-overlayPanel #op> 
    <ng-template pTemplate>
        <div id='{{"notif"+notif.id}}' style="cursor: pointer;" class="row p-2 mb-1 unread" *ngFor="let notif of notifications" (click)="mark_notif(notif.id)">
            <span ><span style="font-weight: 600;">{{notif.commentUsername}}</span> reacted to your post: <span style="font-style: italic;">{{notif.postText}}...</span></span>
        </div>
    </ng-template>
</p-overlayPanel>