<div class="container">
    <div class="row h-100 mt-2">
        <div class="col-4">
            <p-card subheader="Welcome to your safe space!" [style]="{'width': '100%', 'margin-bottom': '2em'}">
                <ng-template pTemplate="header" styleClass="d-flex justify-content-center align-items-center">
                    <p-avatar [label]="username || ''" styleClass="mx-2 w-100" size="xlarge"></p-avatar>
                </ng-template>
                <p style="text-align: justify; text-justify: inter-word;">We're so glad you've joined our community. We understand that dealing with emotional and mental well-being can be tough, but we want you to know that you're not alone. This website is a place where you can share your thoughts and feelings anonymously, without fear of judgment. Whether you're looking for support, guidance, or just a place to vent, we're here for you.</p>
            </p-card>
        </div>
        <div class="col-8">
            <p-card header="Create a post"  subheader="Speak your mind!"[style]="{'width': '100%', 'margin-bottom': '2em'}">
                <!-- <ng-template pTemplate="header">
                    <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png">
                </ng-template> -->
                <div class="row h-100 justify-content-center align-items-center">
                    <div class="col-10">
                        <span class="p-float-label">
                            <textarea id="float-input" rows="5" [autoResize]="true" pInputTextarea style="width: 100%;" [(ngModel)]="Post_Content"></textarea>
                            <label for="float-input">Write here...</label>
                        </span>
                    </div>
                    <div class="col-2">
                        <button pButton pRipple type="button" icon="pi pi-send" class="p-button-raised w-100" [loading]="loadPost" (click)="makepost()"></button>
                    </div>
                </div>
            </p-card>
            <p-card header="Your feed" [style]="{'width': '100%'}">
                <!-- <ng-template pTemplate="header">
                    <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png">
                </ng-template> -->
                <p-scrollPanel [style]="{width: '100%', height: '300px'}">
                    <app-post-container [posts]="posts" [parent]="undefined"></app-post-container>
                </p-scrollPanel>
            </p-card>
        </div>
    </div>
</div>