<div class="container">
    <div class="row h-100 justify-content-center align-items-center ">
        <div class="col-5">
            <p-card subheader="Welcome to your safe space!"  [style]="{'width': '100%', 'margin-top': '2em'}">
                <ng-template pTemplate="header" styleClass="d-flex justify-content-center align-items-center">
                    <p-avatar [label]="username || ''" styleClass="mx-2 w-100" size="xlarge"></p-avatar>
                </ng-template>
                <p style="text-align: justify; text-justify: inter-word;">
                    We're so glad you've joined our community. We understand that dealing with emotional and mental well-being can be tough, but we want you to know that you're not alone. This website is a place where you can share your thoughts and feelings anonymously, without fear of judgment. Whether you're looking for support, guidance, or just a place to vent, we're here for you.
                </p>
            </p-card>
        </div>
    </div>
</div>