<div class="container">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-8 h-100">
            <p-card header="Your posts" [style]="{'width': '100%', 'height':'80vh', 'margin-top': '2em'}">
                <!-- <ng-template pTemplate="header">
                    <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png">
                </ng-template> -->
                <p-scrollPanel [style]="{width: '100%', height: '60vh'}">
                    <app-post-container [posts]="posts"></app-post-container>
                </p-scrollPanel>
            </p-card>
        </div>
    </div>
</div>