<div class="container" style="height:100vh;">
    <div class="row h-100">
        <div class="col-6"></div>
        <div class="col-6 h-100">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col">
                    <p-card [style]="{width: '360px'}" styleClass="p-card-shadow mx-auto" header="Something went wrong :(">
                                please sign out and sign in again.
                    </p-card>
                </div>
            </div>
        </div>
    </div>
</div>