@use 'themes' as *;

/* You can add global styles to this file, and also import other style files */
:root {
  --background-image: url('./assets/bg1.png') no-repeat left center / contain;
}

html, body {
  margin: 0;
  min-height: 100%;
  width: 100%;
}
body{
  background: var(--background-image) ;
  min-height: 100vh;
}